.c-page-heading {
  font-family: 'Merriweather', serif;
  text-align: center;
  color: #474545;
}

.c-container {
  max-width: 1100px;
  margin: 0 auto;
}

.c-thumbnail {
  border: 1px solid #e5eaf0;
  padding: 1.2rem;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.c-thumbnail__img {
  max-width: 100%;
  width: 100%;
  display: block;
  border-radius: 5px;
}

.c-thumbnail__title {
  font-weight: 500;
}

.c-thumbnail__description {
  margin-top: 0;
  margin-bottom: 0;
  color: #737f8b;
}

/* small (phones) */
@media screen and (max-width: 749px) {
  .c-page-heading {
    margin-top: 2.8rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  .c-container {
    padding: 1rem;
  }

  .c-thumbnail {
    margin-bottom: 1.4rem;
  }

  .c-thumbnail__title {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }
}

/* medium & big (tablet & desktop) */
@media screen and (min-width: 750px) {
  .c-page-heading {
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-size: 3.2rem;
  }

  .c-container {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
  }

  .c-thumbnail {
    width: 32%;
  }

  .c-thumbnail__title {
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
  }
}

/* extra example with multiple media queries */

/* general */
.c-great-day {
  font-size: 1.1rem;
}

/* xsmall */
@media screen and (max-width: 499px) {
  .c-great-day {
    color: #ff0181;
  }
}

/* small */
@media screen and (min-width: 500px) and (max-width: 749px) {
  .c-great-day {
    color: #ffbe00;
  }
}

/* medium */
@media screen and (min-width: 750px) and (max-width: 1149px) {
  .c-great-day {
    color: #ff3243;
  }
}

/* large */
@media screen and (min-width: 1150px) and (max-width: 1449px) {
  .c-great-day {
    color: #324aff;
  }
}
