.c-page-heading {
  font-family: 'Merriweather', serif;
  text-align: center;
  color: #474545;

  /* desktop */
  margin-top: 6rem;
  margin-bottom: 2rem;
  font-size: 3.2rem;
}

.c-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1.5rem;

  /* desktop */
  display: flex;
  justify-content: space-between;
}

.c-thumbnail {
  border: 1px solid #e5eaf0;
  padding: 1.2rem;
  background-color: #fff;
  border-radius: 5px;

  /* desktop */
  width: 32%;
}

.c-thumbnail__img {
  max-width: 100%;
  width: 100%;
  display: block;
  border-radius: 5px;
}

.c-thumbnail__title {
  font-weight: 500;

  /* desktop */
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
}

.c-thumbnail__description {
  margin-top: 0;
  margin-bottom: 0;
  color: #737f8b;
}

/* small (phones) */
@media screen and (max-width: 749px) {
  .c-page-heading {
    /* override desktop */
    margin-top: 2.8rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  .c-container {
    /* override desktop */
    display: block;
    padding: 1rem;
  }

  .c-thumbnail {
    /* extra for mobile */
    margin-bottom: 1rem;

    /* override desktop */
    width: 100%;
  }

  .c-thumbnail__title {
    /* override desktop */
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}
