.c-page-heading {
  font-family: 'Merriweather', serif;
  text-align: center;
  color: #474545;

  /* mobile */
  margin-top: 2.8rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.c-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
}

.c-thumbnail {
  border: 1px solid #e5eaf0;
  padding: 1.2rem;
  background-color: #fff;
  border-radius: 5px;

  /* mobile */
  margin-bottom: 1rem;
}

.c-thumbnail__img {
  max-width: 100%;
  width: 100%;
  display: block;
  border-radius: 5px;
}

.c-thumbnail__title {
  font-weight: 500;

  /* mobile */
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.c-thumbnail__description {
  margin-top: 0;
  margin-bottom: 0;
  color: #737f8b;
}

/* medium & big (tablet & desktop) */
@media screen and (min-width: 750px) {
  .c-page-heading {
    /* override mobile */
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-size: 3.2rem;
  }

  .c-container {
    /* extra for mobile */
    display: flex;
    justify-content: space-between;
  }

  .c-thumbnail {
    /* extra for desktop */
    width: 32%;

    /* override mobile */
    margin-bottom: 0;
  }

  .c-thumbnail__title {
    /* override mobile */
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
  }
}
